@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Reality stone';
    src: url('./fonts/RealityStone.ttf') format('truetype');
}

@font-face{
    
    font-family: 'Procopius Regular';
    src: url('./fonts/ProcopiusRegular.ttf') format('truetype');
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
  }
}

.striped-border {
    border: 1px dashed white;
}
  
.text-box {
    padding: 5px;
}

.resize-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
  
  .resize-handle:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .react-draggable:hover {
    outline: 2px dashed rgba(0, 0, 0, 0.2);
  }
  
  
  .no-border{
    border: none;
  }
  

  .milestone-btn {
    overflow: hidden;
  }
  
  .milestone-btn img.icon {
    width: 100%;
    height: auto;
    filter: brightness(0) invert(1); /* Makes black areas white */
  }
  
  .milestone-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #946951;
    mix-blend-mode: multiply;
    pointer-events: none;
  }