@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Reality stone';
    src: url('./fonts/RealityStone.ttf') format('truetype');
}

@font-face{
    
    font-family: 'Procopius Regular';
    src: url('./fonts/ProcopiusRegular.ttf') format('truetype');
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
  }
}

.striped-border {
    border: 1px dashed white;
  }
  
  .text-box {
    padding: 5px;
  }
  
  